# Next.js specific
.next/
out/

# node_modules
/node_modules

# pnpm
/pnpm-lock.yaml

# yarn
/yarn-debug.log*
/yarn-error.log*
/.yarn/
.pnp.*

# npm
npm-debug.log*
.npm/

# dotenv
.env.local
.env*.production.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local development
.history/
.vscode/

# misc
.DS_Store
*.pem